<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category id="general" label="30011">
		<setting id="video_fanart_path" type="folder" label="30012" default="special://masterprofile/Thumbnails/Video/Fanart/" />
		<setting id="music_fanart_path" type="folder" label="30014" default="special://masterprofile/Thumbnails/Music/Fanart/"/>
		<setting id="run_silent" type="bool" default="false" label="30013" />
	</category>
	<category id="ignore" label="Ignore Paths">
		<setting id="ignore_paths" type="text" default="" label="Type paths, comma separate" />
	</category>
</settings>