<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category id="general" label="30011">
		<setting id="fanart_path" type="folder" label="30012" default="special://masterprofile/Thumbnails/Video/Fanart/" />
		<setting id="run_silent" type="bool" default="false" label="30013" />
	</category>
</settings>